<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Добавить событие</h3>
    </div>
  </div>
  <div class="card-block">
    <form #f="ngForm" (submit)="onSubmit(f)">
      <div class="form-group">
        <label class="control-label" for="category">Выберите категорию</label>
        <select
          class="form-control"
          id="category"
          name="category"
          #category="ngModel"
          [ngModel]="1"
        >
          <option
            *ngFor="let c of categories"
            [value]="c.id"
          >
            {{ c.name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label">Выберите тип</label>
        <div *ngFor="let type of typesEvents">
          <label>
            <input
              class="radio"
              name="type"
              type="radio"
              required
              [value]="type.type"
              [ngModel]="'outcome'"
            >
            <span>{{ type.label }}</span>
          </label>
        </div>
      </div>
      <div
        class="form-group"
        [ngClass]="{'has-error': amount.invalid && amount.touched}"
      >
        <label class="control-label" for="amount">Введите сумму</label>
        <input
          type="number"
          value="0"
          id="amount"
          class="form-control"
          #amount="ngModel"
          name="amount"
          ngModel="1"
          min="1"
          required
        >
        <span
          *ngIf="amount.invalid && amount.touched"
          class="form-help-text"
        >Введите корректную сумму!</span>
      </div>
      <div
        class="form-group"
        [ngClass]="{'has-error': description.invalid && description.touched}"
      >
        <label class="control-label" for="description">Введите описание</label>
        <input
          type="text"
          value="0"
          id="description"
          class="form-control"
          #description="ngModel"
          name="description"
          ngModel
          required
        >
        <span
          *ngIf="description.invalid && description.touched"
          class="form-help-text"
        >Описание не должно быть пустым!</span>
      </div>
      <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
  </div>
</div>
