<div class="title-block">
  <h3 class="title">
    Страница записей <span class="sparkline bar"></span>
  </h3>
</div>
<section class="section text-center" *ngIf="!isLoaded">
  Loading...
</section>
<section class="section" *ngIf="isLoaded">
  <div class="row">
    <div class="col-md-6">
      <csw-add-event></csw-add-event>
    </div>
    <div class="col-md-6">
      <csw-add-category (onCategoryAdded)="newCategory($event)"></csw-add-category>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <csw-edit-category [categories]="categories" (onCategoryChanged)="updateCategory($event)"></csw-edit-category>
    </div>
  </div>
</section>
